@import "@/styles/variaveis";
.wrap{
    display: flex;
    justify-content: center;
}
.btnHome{
    border: 1px solid $primaryColor;
    background-color: $primaryColor;           
    width: fit-content;
    padding: 10px 30px;
    border-radius: 50px;
    a{
        font-size: 1.2em;
        color: #fff;
        font-weight: 600;
        text-decoration: none;
    }
}
.ganhou{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}